html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.main{
  margin-top: 200px;
}

.center{
  display: flex;
  justify-content: center;
}


body {
  background-color: #5c5656; /* Светлый фон */
  font-family: 'Arial', sans-serif; /* Шрифт */
  color: #333; /* Цвет текста */
  font-family: "Roboto", serif;
  font-weight: 800;
  font-style: normal;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row{
  display: flex;
  flex-direction: row;
}

.menu {
  background-color: #ffffff; /* Белый фон */
  border-radius: 10px; /* Закругленные углы */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень */
  padding: 20px; /* Отступы */
  margin-bottom: 20px; /* Отступ снизу */
}

.line{
  height: 150px;
  width: 5px;
  background-color: #333;
  border-radius: 10px;
}

.special_button{
  height: 130px;
}

button {
  background-color: #2980b9; /* Синий фон */
  color: white; /* Белый текст */
  padding: 10px 15px; /* Отступы */
  border: none; /* Без границы */
  border-radius: 5px; /* Закругленные углы */
  cursor: pointer; /* Указатель при наведении */
  margin: 5px; /* Отступ между кнопками */
  transition: background-color 0.3s; /* Плавный переход */
}

button:hover {
  background-color: #3498db; /* Светлее при наведении */
}

.back{
  width: 100px;
}

.timer {
  font-size: 24px; /* Размер шрифта */
  color: #e74c3c; /* Красный цвет */
  margin-top: 10px; /* Отступ сверху */
}

.true_txt{
  background-color: #ecf0f1; /* Светло-серый фон */
  border-radius: 5px; /* Закругленные углы */
  padding: 15px; /* Отступы */
  margin-top: 20px; /* Отступ сверху */
  width: 80%; /* Ширина блока */
  text-align: center; /* Центрирование текста */
}

.column{
  display:  block;
}






/* Styling the main_txt with color animation */
.main_txt {
  font-size: 3em; /* Large font size */
  margin-bottom: 20px; /* Space below the text */
  background: linear-gradient(270deg, #ff0080, #ff8c00, #00ff8c, #00bfff, #8000ff, #ff0080); /* Gradient colors */
  -webkit-background-clip: text; /* Clip background to text */
  -webkit-text-fill-color: transparent; /* Make text transparent */
  animation: colorShift 1s linear infinite; /* Animation effect every second */
}

/* Color shifting animation */
@keyframes colorShift {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}